.link {
}

.link__inner {
  text-decoration: none;
  color: #4a4e57;
  font-weight: 300;
  padding-left: 40px;
  display: block
}

.link__badge {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  padding: 3px 5px;
  color: #fff
}

.link__badge--pdf {

}

.link__badge--link {
  background-color: blue
}