@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-Regular.ttf')  format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow';
  font-size: 16px;
}

.horizontal-align {
  margin-left: auto;
  margin-right: auto;
}