.color {
  color: #3073f2;
}

.background {
  background-color: #3073f2;
}

.background--green {
  background-color: #47e389;
}

.background--orange {
  background-color: #FF9052;
}

.background--red {
  background-color: #F95F62;
}

.color--green {
  color: #47e389;
}

.color--orange {
  color: #FF9052;
}

.color--red {
  color: #F95F62;
}