.grid {
  width: 100%;
  display: flex;
  height: 700px;
  justify-content: center;
  align-content: center;
}

.grid__left {
  flex: 1;
  height: 100%;
  background-color: red
}

.grid__right {
  flex: 2;
  height: 100%;
  background-color: blue;
}


@media screen and (max-width: 768px) {
  .grid {
    flex-direction: column;
    height: auto;
  }
  .grid__left {
    flex: auto;
  }
  .grid__right {
    flex: auto;
  }
}