.dock {
  width: 65px;
  background-color: #f5f7fa;
  height: 125px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  bottom: 40px;
  box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.5);
  right: 0;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}