.search {
  position: absolute;
  top: 30px;
  width: 330px;
  left: calc(50% - 165px);
  z-index: 999;
  display: block;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  background-color: #f5f7fa;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: lighter;
  color: #4a4357;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
}