.home__wrapper {
  display: flex;
  background-color: rgba(0,0,0,0.1);
  padding: 15px;
}

.home__text {
  flex: 3
}

.home-text__title {
  font-weight: 500;
  color: #f5f7fa;
  border-bottom: 1px solid #f5f7fa;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 20px
}

.home-text__message {
  font-weight: 400;
  color: #f5f7fa;
  font-size: 18px;
}

.home__number {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
  font-size: 55px;
  font-weight: 500;
  color: #f5f7fa;
  flex: 1
}