.home__text {
  background-color: rgba(0,0,0,0.1);
  padding: 15px;
}

/* color: vars.white,
fontFamily: vars.bold,
fontSize: 12,
borderBottomWidth: 1,
borderBottomColor: vars.white,
paddingBottom: 5,
marginBottom: 5 */
.home-text__title {
  font-weight: 600;
  color: #f5f7fa;
  border-bottom: 1px solid #f5f7fa;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 1.1em;
}

.home-text__message {
  font-weight: 500;
  color: #f5f7fa;
  font-size: 0.85em;
}
/* color: vars.white,
fontFamily: vars.medium,
fontSize: 10 */