.inital-message {
  margin-top: -5px;
  margin-bottom: 20px;
  text-align: center;
}

.inital-message__text {
  color: #fff;
  text-decoration: none;
  font-size: 0.85em;
}

.inital-message__text--bold {
  font-weight: 600;
  font-size: 1em;
}