.picker {
  flex: 1;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: -5px;
  background-image: url('../../images/map/date.png')
}

.date-picker {
  /* width: 110%; */
  width: 110% !important;
  opacity: 0 !important;
  color: red;
  position: absolute !important;
  display: block;
  z-index: 995;
}